
@{
    ViewData["Title"] = "AddSprintRequest";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@{
    ViewData["Title"] = "AddSprintRequest";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model AgileManagement.Application.ProjectDto

<div class="container-fluid">
    <div class="row">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light col-md-4" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">@Model.Name</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link active" aria-current="page">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                        Sprint - 1
                    </a>
                </li>

            </ul>
        </div>

        <div class="col-md-8">
            <div>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <div class="navbar-nav">
                                <!-- Modal -->
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-success mr-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Add Sprint
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Project Name</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div>
                                                    <label for="date">Start Date</label>
                                                    <input type="date" id="startDate">
                                                </div>
                                                <div>
                                                    <label for="date">End Date..</label>
                                                    <input type="date" id="endDate">
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-success" onclick="AddSprint('@Model.ProjectId')">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal End -->
                                <button type="button" class="btn btn-danger mr-2">
                                    Remove Sprint
                                </button>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="accordionItem">
                @foreach (var item in Model.Sprints)
                {
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    @item.Name
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div>
                                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>

        </div>


    </div>
</div>




@section Scripts {


    <script>
        function AddSprint(projectId) {
            const startDate = $('#startDate').val();
            const endDate = $('#endDate').val();

            let sprint = {

                startDate,
                endDate,
                projectId
            }
            $.ajax({
                method: 'Post',
                url: '/Admin/Project/AddSprintRequest',
                contentType: 'application/json',
                data: JSON.stringify(sprint), // data body den gönder demek
                success: (response) => {
                    const accordion=`<div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    ${response.name}
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div>
                                       <p>Başlangıç Tarihi: ${response.startDate}</p><br>
                                         <p>bitiş Tarihi: ${response.endDate}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>`

                    $("#accordionItem").append(accordion);
                },
                error: (error) => {
                    console.log('error', error);
                }
            })
        }
    </script>
        
    </script>


}